# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
/Build/MSVC_2015/.vs
/Build/MSVC_2015/iLog3-Solution.VC.VC.opendb
/Build/MSVC_2015/iLog3-Solution.VC.db
/Build/MSVC_2015/Win32/Output
/Build/MSVC_2015/Win32/Output_StaticLib
/Build/MSVC_2015/Win32/IntDir
/Build/MSVC_2015/Win32/iLog3-Verification/iLog3-Verification.vcxproj.user
/Build/MSVC_2015/Win32/iLog3-StaticLib/iLog3-StaticLib.vcxproj.user
